
.sliderWrapper {
  display: flex;
  align-items: center;
  animation: slide 7s infinite;
  animation-timing-function: linear;
}

@keyframes slide {
  0% {
    transform: translateX(-800px);
  }
  100% {
    transform: translateX(-200px);
  }
}
